src/util/driconf.dtd

<!ELEMENT driconf      (device+)>
<!ELEMENT device       (application | engine)*>
<!ATTLIST device       driver CDATA #IMPLIED
                       device CDATA #IMPLIED>
<!ELEMENT application  (option | shader)+>
<!ATTLIST application  name CDATA #REQUIRED
                       executable CDATA #IMPLIED
                       executable_regexp CDATA #IMPLIED
                       sha1 CDATA #IMPLIED
                       application_name_match CDATA #IMPLIED
                       application_versions CDATA #IMPLIED>
<!ELEMENT engine       (option+)>

<!-- engine_name_match: A regexp matching the engine name -->
<!-- engine_versions: A version in range format
          (version 1 to 4 : "1:4") -->

<!ATTLIST engine       engine_name_match CDATA #REQUIRED
                       engine_versions CDATA #IMPLIED>

<!ELEMENT shader       (option+)>
<!ATTLIST shader       type CDATA #REQUIRED
                       hash CDATA #REQUIRED>

<!ELEMENT option       EMPTY>
<!ATTLIST option       name CDATA #REQUIRED
                       value CDATA #REQUIRED>
